In [ ]:
import pandas as pd
import numpy as np
# import allel
import os

In [ ]:
strain=['human']

tools=['grom','BREAKDANCER','DELLY','GENOMESTRIP','manta','octopus','popdel','clever',
       'gasv','rdxplorer','deepvariant','tardis','crest','smoove']

In [ ]:
df_10=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_10.csv')
df_100=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_100.csv')
df_1000=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_1000.csv')
df_10000=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_10000.csv')

df_10_nondel=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_10_nondel.csv')
df_100_nondel=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_100_nondel.csv')
df_1000_nondel=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_1000_nondel.csv')
df_10000_nondel=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_10000_nondel.csv')

pdList = [df_10,df_100,df_1000,df_10000,df_10_nondel,df_100_nondel,df_1000_nondel,df_10000_nondel] 
df_cat = pd.concat(pdList)

gs_=pd.read_csv('/content/drive/MyDrive/SV_Callers/DFiltered/gs_.csv')

In [ ]:
df_cat.head()
df_cat = df_cat[df_cat['length'] >= 50]

In [ ]:
df_cat.loc[(df_cat['length'] >= 50) & (df_cat['length'] < 100),'len'] = '50-100'
df_cat.loc[(df_cat['length'] >= 100) & (df_cat['length'] < 500),'len'] = '100-500'
df_cat.loc[(df_cat['length'] >= 500) & (df_cat['length'] < 1000),'len'] = '500-1000'
df_cat.loc[(df_cat['length'] >= 1000),'len'] = '1000+'
df_cat

        Unnamed: 0    tool strain  length flag   position  threshold       len
0                0  smoove  human     775   TP   14657710         10  500-1000
1                1  smoove  human     910   TP   58743912         10  500-1000
2                2  smoove  human     839   TP   62082862         10  500-1000
3                3  smoove  human     712   TP   86740985         10  500-1000
4                4  smoove  human    3927   TP  108733324         10     1000+
...            ...     ...    ...     ...  ...        ...        ...       ...
972154      972154    grom  human      63   TN   47083172      10000    50-100
972155      972155    grom  human      63   TN   47083172      10000    50-100
972156      972156    grom  human     347   TN   47696469      10000   100-500
972157      972157    grom  human     347   TN   47696469      10000   100-500
972158      972158    grom  human     347   TN   47696469      10000   100-500

[7541473 rows x 8 columns]

In [ ]:
df_cat.to_csv("/content/drive/MyDrive/SV_Callers/DFiltered/df_cat.csv")

In [ ]:
gs_.head(10)

   Unnamed: 0 strain       len  n_true
0           0  human   100-500    2031
1           1  human     1000+     526
2           2  human    50-100    1360
3           3  human  500-1000     203

In [ ]:
# l=[]
# for i in range(df_cat.shape[0]):
#   for j in range(gs_.shape[0]):
#     if(gs_.iat[j,2]==df_cat.iat[i,7]):
#       l.append(gs_.iat[j,3])
# print(l)
df_merge_all_len=pd.merge(df_cat, gs_,on=['strain','len'])
del df_merge_all_len['Unnamed: 0_x']
del df_merge_all_len['Unnamed: 0_y']
df_merge_all_len

           tool strain  length flag   position  threshold       len  n_true
0        smoove  human     775   TP   14657710         10  500-1000     203
1        smoove  human     910   TP   58743912         10  500-1000     203
2        smoove  human     839   TP   62082862         10  500-1000     203
3        smoove  human     712   TP   86740985         10  500-1000     203
4        smoove  human     950   TP  159648707         10  500-1000     203
...         ...    ...     ...  ...        ...        ...       ...     ...
7541468    grom  human      63   TN   47083172      10000    50-100    1360
7541469    grom  human      63   TN   47083172      10000    50-100    1360
7541470    grom  human      63   TN   47083172      10000    50-100    1360
7541471    grom  human      63   TN   47083172      10000    50-100    1360
7541472    grom  human      63   TN   47083172      10000    50-100    1360

[7541473 rows x 8 columns]

In [ ]:
df_count_TP = df_merge_all_len[df_merge_all_len['flag'] == 'TP'].groupby(['tool','threshold','strain','len','n_true'],as_index=False)['flag'].count()
df_count_TP = df_count_TP.rename(columns={"flag": "nTP"})
df_count_TP.shape
df_count_TP.head()

          tool  threshold strain       len  n_true  nTP
0  BREAKDANCER         10  human   100-500    2031   18
1  BREAKDANCER         10  human     1000+     526   28
2  BREAKDANCER         10  human  500-1000     203   13
3  BREAKDANCER        100  human   100-500    2031  225
4  BREAKDANCER        100  human     1000+     526  252

In [ ]:
df_count_FP = df_merge_all_len[df_merge_all_len['flag'] == 'FP'].groupby(['tool','threshold','strain','len','n_true'],as_index=False)['flag'].count()
df_count_FP = df_count_FP.rename(columns={"flag": "nFP"})
df_count_FP.shape
df_count_FP.head()

          tool  threshold strain       len  n_true  nFP
0  BREAKDANCER         10  human   100-500    2031  404
1  BREAKDANCER         10  human     1000+     526  409
2  BREAKDANCER         10  human  500-1000     203  119
3  BREAKDANCER        100  human   100-500    2031  197
4  BREAKDANCER        100  human     1000+     526  185

In [ ]:
df_count_TN = df_merge_all_len[df_merge_all_len['flag'] == 'TN'].groupby(['tool','threshold','strain','len','n_true'],as_index=False)['flag'].count()
df_count_TN = df_count_TN.rename(columns={"flag": "nTN"})
df_count_TN.shape
df_count_TN.head()

          tool  threshold strain       len  n_true  nTN
0  BREAKDANCER         10  human   100-500    2031  113
1  BREAKDANCER         10  human     1000+     526  152
2  BREAKDANCER         10  human  500-1000     203   37
3  BREAKDANCER        100  human   100-500    2031  242
4  BREAKDANCER        100  human     1000+     526  364

In [ ]:
df_merged = pd.DataFrame(columns=['tool', 'threshold', 'strain', 'len','nTP', 'nFP','nTN'])

for s in strain:
    for t in tools:
        for th in [10,100,1000,10000]:
            for l in ["50-100","100-500","500-1000","1000+"]:
                #dfObj = dfObj.append({'User_ID': 25, 'UserName': 'Jack', 'Action': 'Login'}, ignore_index=True)
                if (((df_count_TP['tool'] == t) & (df_count_TP['strain'] == s) & (df_count_TP['threshold'] == th) & (df_count_TP['len'] == l)).any()):
                    tp = df_count_TP[(df_count_TP['tool'] == t) & (df_count_TP['strain'] == s) & (df_count_TP['threshold'] == th) & (df_count_TP['len'] == l)]
                    tp = tp['nTP']
                    tp = tp.values[0]
                else:
                    tp = 0
                    
                if (((df_count_FP['tool'] == t) & (df_count_FP['strain'] == s) & (df_count_FP['threshold'] == th) & (df_count_FP['len'] == l)).any()):
                    fp = df_count_FP[(df_count_FP['tool'] == t) & (df_count_FP['strain'] == s) & (df_count_FP['threshold'] == th) & (df_count_FP['len'] == l)]
                    fp = fp['nFP']
                    fp = fp.values[0]
                else:
                    fp = 0
                 
                if (((df_count_TN['tool'] == t) & (df_count_TN['strain'] == s) & (df_count_TN['threshold'] == th) & (df_count_TN['len'] == l)).any()):
                    tn = df_count_TN[(df_count_TN['tool'] == t) & (df_count_TN['strain'] == s) & (df_count_TN['threshold'] == th) & (df_count_TN['len'] == l)]
                    tn = tn['nTN']
                    tn = tn.values[0]
                else: 
                    tn = 0
                
                #print(tp.values[0])
                df_merged = df_merged.append({'tool':t, 'threshold':th, 'strain':s, 'len':l,'nTP':tp, 'nFP':fp,'nTN':tn},ignore_index=True)
#df_count_TP.shape

In [ ]:
df_merged

       tool threshold strain       len  nTP  nFP  nTN
0      grom        10  human    50-100  427   28  427
1      grom        10  human   100-500   73  727   74
2      grom        10  human  500-1000   17   61   20
3      grom        10  human     1000+  103  201  168
4      grom       100  human    50-100  431   24  434
..      ...       ...    ...       ...  ...  ...  ...
219  smoove      1000  human     1000+  223   27  262
220  smoove     10000  human    50-100    0    0    0
221  smoove     10000  human   100-500   19    1   27
222  smoove     10000  human  500-1000   70    2  103
223  smoove     10000  human     1000+  226   24  341

[224 rows x 7 columns]

In [ ]:
df_merged["threshold"] = pd.to_numeric(df_merged["threshold"])

In [ ]:
df_merge_all_len.dtypes

tool         object
strain       object
length        int64
flag         object
position      int64
threshold     int64
len          object
n_true        int64
dtype: object

In [ ]:
df_merged_all=pd.merge(df_merged, df_merge_all_len,on=['strain','len','tool','threshold'])
del df_merged_all['length']
del df_merged_all['flag']
del df_merged_all['position']
df_merged_all

           tool  threshold strain     len  nTP nFP  nTN  n_true
0          grom         10  human  50-100  427  28  427    1360
1          grom         10  human  50-100  427  28  427    1360
2          grom         10  human  50-100  427  28  427    1360
3          grom         10  human  50-100  427  28  427    1360
4          grom         10  human  50-100  427  28  427    1360
...         ...        ...    ...     ...  ...  ..  ...     ...
7541468  smoove      10000  human   1000+  226  24  341     526
7541469  smoove      10000  human   1000+  226  24  341     526
7541470  smoove      10000  human   1000+  226  24  341     526
7541471  smoove      10000  human   1000+  226  24  341     526
7541472  smoove      10000  human   1000+  226  24  341     526

[7541473 rows x 8 columns]

In [ ]:
df_merged_all['nFN']=df_merged_all['n_true']-df_merged_all['nTP']
df_merged_all

           tool  threshold strain     len  nTP nFP  nTN  n_true  nFN
0          grom         10  human  50-100  427  28  427    1360  933
1          grom         10  human  50-100  427  28  427    1360  933
2          grom         10  human  50-100  427  28  427    1360  933
3          grom         10  human  50-100  427  28  427    1360  933
4          grom         10  human  50-100  427  28  427    1360  933
...         ...        ...    ...     ...  ...  ..  ...     ...  ...
7541468  smoove      10000  human   1000+  226  24  341     526  300
7541469  smoove      10000  human   1000+  226  24  341     526  300
7541470  smoove      10000  human   1000+  226  24  341     526  300
7541471  smoove      10000  human   1000+  226  24  341     526  300
7541472  smoove      10000  human   1000+  226  24  341     526  300

[7541473 rows x 9 columns]

In [ ]:
dftemp=df_merged_all[df_merged_all['tool']=='rdxplorer']
dftemp[dftemp['nFN']<=0]

              tool  threshold strain       len  nTP    nFP   nTN  n_true   nFN
7349252  rdxplorer       1000  human  500-1000  554  29299  1427     203  -351
7349253  rdxplorer       1000  human  500-1000  554  29299  1427     203  -351
7349254  rdxplorer       1000  human  500-1000  554  29299  1427     203  -351
7349255  rdxplorer       1000  human  500-1000  554  29299  1427     203  -351
7349256  rdxplorer       1000  human  500-1000  554  29299  1427     203  -351
...            ...        ...    ...       ...  ...    ...   ...     ...   ...
7479271  rdxplorer      10000  human     1000+  854  11348  6123     526  -328
7479272  rdxplorer      10000  human     1000+  854  11348  6123     526  -328
7479273  rdxplorer      10000  human     1000+  854  11348  6123     526  -328
7479274  rdxplorer      10000  human     1000+  854  11348  6123     526  -328
7479275  rdxplorer      10000  human     1000+  854  11348  6123     526  -328

[106800 rows x 9 columns]

In [ ]:
df_merged_all = df_merged_all.astype({'nTP': 'float64', 'nFP': 'float64', 'nTN': 'float64', 'nFN': 'float64'})

df_merged_all['sensitivity']=df_merged_all['nTP']/df_merged_all['n_true']
df_merged_all['precision']=df_merged_all['nTP']/(df_merged_all['nTP'] + df_merged_all['nFP'])                                                                                    
df_merged_all['specificity']=df_merged_all['nTN']/(df_merged_all['nTN']+df_merged_all['nFP'])
df_merged_all['f-score']=2*(df_merged_all['sensitivity']*df_merged_all['precision'])/(df_merged_all['sensitivity']+df_merged_all['precision']+0.00000001)

df_merged_all = df_merged_all.astype({'nTP':'int64', 'nFP':'int64', 'nTN':'int64'})
df_merged_all.loc[np.isnan(df_merged_all['precision']), 'precision'] = 0

df_merged_all.tail()

           tool  threshold strain  ... precision  specificity   f-score
7541468  smoove      10000  human  ...     0.904     0.934247  0.582474
7541469  smoove      10000  human  ...     0.904     0.934247  0.582474
7541470  smoove      10000  human  ...     0.904     0.934247  0.582474
7541471  smoove      10000  human  ...     0.904     0.934247  0.582474
7541472  smoove      10000  human  ...     0.904     0.934247  0.582474

[5 rows x 13 columns]

In [ ]:
df_merged_all.to_csv('/content/drive/MyDrive/SV_Callers/DFiltered/df_merged_all.csv')